<!-- <h2>Reading List</h2> -->
<div class = "well" >
  <div ng-if = "reading.comicEntries.length === 0">
    <h3>You need to buy more comics...</h3>
    <img class = "sadPepe" src = "assets/styles/images/sadgif.gif" />
  </div>

  <div>
    <table class = "table">
      <tr ng-repeat = "entry in reading.comicEntries | orderBy: ['name', 'issue']">
        <td><strong>{{entry.name}}<span ng-if = "entry.issue">, #{{entry.issue}}</span></strong><br />
          Rate this issue:
          <input type="radio" ng-model = "entry.rating" value = "1" /> 1
          <input type="radio" ng-model = "entry.rating" value = "2" /> 2
          <input type="radio" ng-model = "entry.rating" value = "3" /> 3
          <input type="radio" ng-model = "entry.rating" value = "4" /> 4
          <input type="radio" ng-model = "entry.rating" value = "5" /> 5
        </td>

        <td>
          <button  class = "btn btn-sm btn-success" ng-if = "entry.rating" class = "readButton" ng-click = "reading.doneReading(entry)">Rate & Submit</button>
        </td>
      </tr>
    </table>
  </div>
</div>
