
  <div class = "well">
    <h4 class = "shoppingh4">What do you need to buy?</h4>
    <form class = "form-inline">
      <div class = "form-group inlineComicEntry" ng-show = "!shopping.showEntryBox">
        <select id = "comicSelector" class = "form-control" ng-model = "shopping.comicEntry.name">
          <option selected = "selected" value = "" >Select comic series</option>
          <option value = "">---</option>
          <option ng-repeat = "entry in shopping.selectionOptions | unique: 'name' | orderBy: 'name'" value = "{{entry.name}}">
            {{entry.name}}
          </option>
        </select>
      </div>

      <div  class = "form-group inlineComicEntry" ng-show = "shopping.showEntryBox">
        <input type = "text" class = "form-control" ng-model = "shopping.comicEntry.name" placeholder="Enter new comic here"/>
      </div>

      <div class = "form-group">
        <label class = "inlineLabel">Issue #</label>
        <input id = "issuePicker" type = "number" ng-model = "shopping.comicEntry.issue" min = "0" />
      </div>
      <div class = "form-group">
        <input type = "submit" class = "btn btn-md btn-danger" ng-click = "shopping.makeEntry()"/>
      </div>
      <div ng-show = "!shopping.showEntryBox">
        <a href ng-click ="shopping.showEntryBox = !shopping.showEntryBox">Add new comic series</a>
      </div>
      <div ng-show = "shopping.showEntryBox">
        <a href ng-click = "shopping.showEntryBox = !shopping.showEntryBox">Select from previous entries</a>
      </div>
    </form>
  </div>

  <div class = "well" ng-if = "shopping.comicEntries.length > 0">
    <ul ng-repeat = "entry in shopping.comicEntries | orderBy: ['name', 'issue']">
      <li>
        {{entry.name}}<span ng-if = "entry.issue">, #{{entry.issue}}</span>
        <input type = "checkbox" ng-model = "entry.purchased"/>
      </li>
    </ul>
    <button class = "btn btn-sm btn-primary" ng-if = "shopping.comicEntries.length >= 1" ng-click = "shopping.purchaseValue()">Purchased</button>
  </div>
