<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ComiCompanion Log In</title>
    <script src = "vendors/angular/angular.min.js"></script>
    <script src = "assets/scripts/client.min.js"></script>
    <link rel = "stylesheet" href = "vendors/bootstrap/dist/css/bootstrap.min.css" />
    <link rel = "stylesheet" href = "assets/styles/style.css" />

  </head>
  <body class = "container">
    <div class = "jumbotron">
      <h1>ComiCompanion</h1>
    </div>
    <div class = "well">
      <h3>Please log in to your account</h3>
      <form id = "loginForm" action = "/" method = "POST">
        <div class = "form-group">
          <label for = "username">Username:</label>
          <input type = "text" class = "form-control" name = "username" id = "username" placeholder = "Username" />
        </div>
        <div class= "form-group">
          <label for = "password">Password:</label>
          <input type = "password" class = "form-control" name = "password" id = "password" placeholder = "Password" />
        </div>

        <div class = "form-group">
          <input type = "submit" class = "btn btn-success" value = "Log In"/>
        </div>
        <div>
          <p>First time using ComiCompanion? Register<a href = "/register"> here</a>!</p>
        </div>
      </form>
    </div>

      <!-- </form> -->


      <!-- <form id = "loginForm" action = "/" method = "POST">
        <div>
          <label for = "username">Username:</label>
          <input type = "text" name = "username" id = "username" />

          <label for = "password">Password:</label>
          <input type = "password" name = "password" id = "password" />
          <div>
            <input type = "submit" class = "btn btn-primary" value = "Log In"/>
            <br />
            <p>Not already a user? Register<a href = "/register"> here</a>!</p>
          </div>

        </div>

      </form> -->
    </div>
  </body>
</html>
